RewriteEngine On
ErrorDocument 404 /eticaret/error.php

RewriteRule ^anasayfa index.php [L,NC]
RewriteRule ^hakkimizda hakkimizda.php [L,NC]
RewriteRule ^giris giris.php [L,NC]
RewriteRule ^profile profile.php [L,NC]
RewriteRule ^kayit kayit.php [L,NC]
RewriteRule ^adminanasayfa adminanasayfa.php [L,NC]
RewriteRule ^güncelle güncelle.php [L,NC]
RewriteRule ^depolar depolar.php [L,NC]
RewriteRule ^depotransfer depotransfer.php [L,NC]
RewriteRule ^baglanti data/veritabani.php [L,NC]
RewriteRule ^depolar depolar.php [L,NC]
RewriteRule ^depoekle depoekle.php [L,NC]
RewriteRule ^kategori kategori.php [L,NC]
RewriteRule ^birimler birimler.php [L,NC]
RewriteRule ^modeller modeller.php [L,NC]
RewriteRule ^markalar markalar.php [L,NC]
RewriteRule ^kdv kdvler.php [L,NC]
RewriteRule ^urunler urunler.php [L,NC]
RewriteRule ^urunekle urunekle.php [L,NC]
RewriteRule ^kullanici kullanici.php [L,NC]
RewriteRule ^duzenkullanici duzenkullanici.php [L,NC]
RewriteRule ^ktsil ./islem/ktsil.php [L,NC]
RewriteRule ^profil profil.php [L,NC]
RewriteRule ^urun uruleranasayfa.php [L,NC]
RewriteRule ^duzenleurun duzenleurun.php [L,NC]
RewriteRule ^dtransfersil ./islem/dtransfersil.php [L,NC]
RewriteRule ^kullaniciprofildüzenle aprofildüzenle.php [L,NC]
RewriteRule ^mesaj mesaj.php [L,NC]
